.loginForm {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  max-width: 450px;
}

.email,
.password {
  border: none;
  padding: 2px 5px;
  border-radius: 5px;
}

.Field {
  position: relative;
}

.Field input {
  width: 100%;
}

.fieldIcon {
  position: absolute;
  right: 10px;
  top: 5px;
  color: black;
  z-index: 10;
}

.errors {
  position: absolute;
  color: rgb(255, 0, 0);
}