$color_1: white;
$color_2: #fbd13e;
$color_3: #0f0f11;
$background-color_1: red;

.link {
  padding: 16px 20px;
  background-color: $background-color_1;
  color: $color_1;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  &:hover {
    color: $color_2;
  }
}
.priceText {
  color: $color_3;
  font-size: 100px;
  margin: 0;
  font-weight: 300;
}
@media (max-width: 768px) {
  .link {
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;

  }
  .priceText {
    font-size: 70px;
  }
}
