.hero {
  padding-bottom: 100px;

  @media(max-width: 1410px) {
    padding-top: 50px;
  }

  @media(max-width: 1230px) {
    padding-bottom: 0;
  }

  @media(max-width: 1200px) {
    padding-bottom: 300px;
  }

  @media(max-width: 770px) {
    padding-top: 0;
    padding-bottom: 120px;
  }
}

.container {
  display: flex;

  @media(max-width: 993px) {
    flex-direction: column;
  }
}

.left__content {
  @media(max-width: 993px) {
    height: 95px;
    display: flex;
    justify-content: space-between;
  }

  @media(max-width: 770px) {
    flex-flow: column;
  }
}

.image {
  max-width: 100%;
  height: auto;

  @media(max-width: 750px) {
    display: none;
  }
}

.left__title {
  width: 300px;
  height: 98px;
  font-size: 25px;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;


  @media(max-width: 600px) {
    font-size: 18px;
    width: 280px;
  }
}

.left__title::after {
  position: relative;
  content: '';
  top: 26px;
  left: -110px;
  width: 184px;
  height: 184px;
  background-image: url('https://res.cloudinary.com/dk4wwlrws/image/upload/v1698607321/Desktop/jqytkkra1uj6cuecvowv.png');

  @media(max-width: 1230px) {
    left: -15px;
    width: 276px;
  }

  @media(max-width: 993px) {
    display: none;
  }
}

.content__card {
  position: relative;
  top: 200px;

  @media(max-width: 1410px) {
    top: 45px;
  }

  @media(max-width: 1230px) {
    display: none;
  }
}

.card__title {
  font-size: 20px;
  font-weight: 500;
}

.card__weight {
  font-size: 13px;
  font-weight: 500;
  width: 51px;
  height: 20px;
  background-color: grey;
  border-radius: 3px;
  padding: 1px 8px;
  margin-top: 7px;
}

.card__inner {
  display: flex;
  align-items: center;
}

.card__cart {
  margin-left: 25px;
  margin-top: 15px;
  background-color: #fbd13e;
  padding: 10px;

  &:hover {
    background-color: #dbb325;
  }

  @media(max-width: 1230px) {
    margin-top: 0;
  }
}

.card__cart .card__price {
  margin-top: 23px;
  font-size: 23px;
  font-weight: 800;

  @media(max-width: 1230px) {
    margin-top: 0;
  }
}

.left__contacts {
  position: relative;
  top: 247px;

  @media(max-width: 993px) {
    top: 0px;
    text-align: right;
  }

  @media(max-width: 770px) {
    text-align: left;
    margin-top: 20px;
    position: static;
  }
}

.phone {
  font-size: 25px;
  font-weight: 500;
}

.email {
  font-style: 18px;
  font-weight: 500;
  text-decoration-line: underline;
  margin-top: 20px;
}

.phone:hover,
.email:hover {
  color: #dbb325;
  transition: 0.5s ease;
}

.right__content {
  position: relative;

  @media(max-width: 770px) {
    top: 100px;
  }
}

.red__square {
  position: absolute;
  top: 470px;
  left: 65px;
  width: 356px;
  height: 358px;
  background-image: url('https://res.cloudinary.com/dk4wwlrws/image/upload/v1698607425/Desktop/ifj72nerwrqp7wwq1bbs.png');

  @media(max-width: 1410px) {
    top: 385px;
    left: 65px;
  }

  @media(max-width: 1230px) {
    top: 300px;
    left: 65px;
  }

  @media(max-width: 770px) {
    display: none;
  }
}

.square__container {
  width: 261px;
  margin: 0 auto;
  padding: 0 15px;
}

.square__title {
  padding-top: 37px;
  font-size: 25px;
  font-weight: 500;
}

.square__weight {
  width: 50px;
  height: 20px;
  background-color: grey;
  border-radius: 3px;
  padding: 1px 8px;
  font-size: 13px;
  font-weight: 500;
}

.square__description {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3;
  padding-top: 10px;
}

.price__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
}

.square__price {
  font-size: 23px;
  font-weight: 800;
}

.square__cart {
  background-color: #fbd13e;
  padding: 10px;

  &:hover {
    background-color: #dbb325;
  }
}

.right__decor {
  position: relative;
  top: -150px;
  right: -770px;
  width: 270px;
  height: 364px;
  background-image: url('https://res.cloudinary.com/dk4wwlrws/image/upload/v1698607321/Desktop/h1w1ef62ahwe0cdjtwul.png');

  @media(max-width: 1410px) {
    top: -145px;
    right: -660px;
    width: 200px;
    height: 364px;
  }

  @media(max-width: 1230px) {
    top: -100px;
    right: -620px;
    width: 200px;
    height: 364px;
  }

  @media(max-width: 1200px) {
    display: none;
  }
}