.productContainer {
  padding-bottom: 115px;
}

.title {
  font-size: 50px;
  line-height: 55px;
}

.route_road {
  margin-top: 20px;
  font-size: 13px;
}

.route_active {
  font-size: 13px;
  color: #9EA2AA
}

.grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: (repeat(2, 1fr));
  column-gap: 60px;

  @media (max-width: 1300px) {
    column-gap: 30px;
  }

  @media (max-width: 1000px) {
    grid-template-columns: (repeat(1, 1fr));
  }
}

.img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.mgb {
  margin-bottom: 20px;
}

.desc__title {
  color: #9EA2AA;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.65px;
  text-transform: uppercase;
}

.desc__info {
  color: #fff;
  max-width: 600px;
  font-size: 16px;
  line-height: 23px;
}

.desc__counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  margin-top: 10px;
  background: #000;
}

.counter__group {
  height: 40px;
  width: 80px;
  position: relative;
}

.counter__input {
  height: 40px;
  width: 80px;
  text-align: center;
  padding: 5px;
  font-size: 16px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
}

// Clear default arrows
/* Chrome, Safari, Edge, Opera */
.counter__input::-webkit-outer-spin-button,
.counter__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.counter__input {
  -moz-appearance: textfield;
}

.counter__btn {
  top: 5px;
  padding: 0 5px;
  position: absolute;
  font-size: 0px;
  background: black;
}

.counter__btn:hover {
  color: #FBD13E;
  transition: color .3s;
}

.btnCart {
  background-color: #fbd13e;
  padding: 10px;
  position: relative;

  &:hover {
    background-color: #DBB325;
    transition: color .3s;
  }
}

.btn__minus {
  left: -10px;
}

.btn__plus {
  right: -13px;
}

.desc__box {
  @media (max-width: 1000px) {
    margin-top: 20px;
  }
}