.container {
  margin: 0 auto;
  padding: 20px;
}

.title {
  h1 {
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: left;
    margin: 52px 0 6px;

    @media (max-width: 768px) {
      font-size: 60px;
    }

    @media (max-width: 565px) {
      font-size: 40px;
    }
  }

  h3 {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    margin-bottom: 38px;
  }

  span {
    color: #9EA2AA;
  }

}

.list {
  display: flex;
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.22;
  color: #9EA2AA;
  margin-bottom: 20px;
  text-transform: uppercase;

  li:nth-child(1) {
    display: flex;
    width: 51%;
    justify-content: center;
  }

  li:nth-child(2) {
    display: flex;
    width: 15%;
    justify-content: center;
  }

  li:nth-child(3) {
    display: flex;
    width: 8%;
    justify-content: center;
  }

  li:nth-child(4) {
    display: flex;
    width: 14%;
    justify-content: center;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.cart__bottom {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 80%;
  margin: 45px 0;


  &Details {
    display: flex;
    justify-content: end;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  p {
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.22;
    color: #9EA2AA;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media (max-width: 768px) {
      font-size: 11px;
    }
  }

  p:nth-child(1) {
    padding-right: 40px;

    @media (max-width: 768px) {
      padding-right: 0px;
    }
  }

  b {

    font-size: 23px;
    line-height: 1.22;
    letter-spacing: 0.01em;
    color: #ffffff;
    padding-left: 5px;
    text-transform: none;

    @media (max-width: 768px) {
      font-size: 17px;
    }
  }
}

.button {
  margin: 20px auto;
  padding: 12px 20px 12px;
  font-size: 13px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-align: center;
  background: #FBD13E;
  color: #000000;
  cursor: pointer;

  @media (max-width: 768px) {
    padding: 8px 12px 8px;
    font-size: 11px;
  }
}

.empty {
  // margin: 80px auto;
  text-align: center;

  h2 {
    font-size: 32px;
    margin-bottom: 15px;

    @media (max-width: 768px) {
      font-size: 24px;
    }

    @media (max-width: 565px) {
      font-size: 20px;
    }
  }

  p {
    font-size: 20px;
    line-height: 1.45;
    letter-spacing: 0.01em;
    color: #9EA2AA;

    @media (max-width: 768px) {
      font-size: 16px;
    }

    @media (max-width: 565px) {
      font-size: 12px;
    }
  }

  icon {
    position: relative;
    top: 2px;
  }

  img {
    display: block;
    width: 300px;
    margin: 45px auto 45px;

    @media (max-width: 768px) {
      width: 240px;
    }

    @media (max-width: 565px) {
      font-size: 200px;
    }
  }

  .button {
    margin: 20px auto;
    padding: 12px 20px 12px;
    max-width: 240px;
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-align: center;
    background: #FBD13E;
    color: #000000;
    cursor: pointer;

    @media (max-width: 768px) {
      padding: 10px 15px 10px;
      font-size: 11px;
    }

    @media (max-width: 565px) {
      padding: 8px 12px 8px;
      font-size: 9px;
    }
  }
}