.title {
    margin-bottom: 50px;
    font-size: 50px;
    line-height: 80px;
    text-align: center;

    @media (max-width: 990px) {
        margin-bottom: 30px;
        font-size: 2rem;
        line-height: 2rem;
    }
}

.grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: (repeat(5, 1fr));
    gap: 40px 30px;

    @media (max-width: 1400px) {
        grid-template-columns: (repeat(4, 1fr));
    }

    @media (max-width: 990px) {
        grid-template-columns: (repeat(3, 1fr));
    }

    @media (max-width: 768px) {
        grid-template-columns: (repeat(2, 1fr));
    }

    @media (max-width: 555px) {
        grid-template-columns: (repeat(1, 1fr));
    }
}