.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  margin-top: 10px;
  background: #000;
}

.group {
  height: 60px;
  width: 80px;
  position: relative;
}

.input {
  height: 60px;
  width: 80px;
  text-align: center;
  padding: 5px;
  font-size: 16px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
}

// Clear default arrows
/* Chrome, Safari, Edge, Opera */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input {
  -moz-appearance: textfield;
}

.btn {
  top: 5px;
  padding: 0 5px;
  position: absolute;
  font-size: 30px;
  background: black;
}

.btn:hover {
  color: #FBD13E;
  transition: color .3s;
}

.btn__minus {
  left: -10px;
}

.btn__plus {
  right: -13px;
}