
.to__top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 20;
  color: #b70000;
}

@media (min-width: 1023.98px) {
  .to__top {
    bottom: 50px;
    right: 20px;
    height: 50px;
    width: 50px;
  }
}
@media (max-width: 1100px) {
  .to__top {
    right: 0px;
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 1023.98px) {
  .to__top {
    display: none;
  }
}