.grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: (repeat(5, 1fr));
  gap: 40px 30px;

  @media (max-width: 1400px) {
    grid-template-columns: (repeat(4, 1fr));
  }

  @media (max-width: 990px) {
    grid-template-columns: (repeat(3, 1fr));
  }

  @media (max-width: 768px) {
    grid-template-columns: (repeat(2, 1fr));
  }

  @media (max-width: 555px) {
    grid-template-columns: (repeat(1, 1fr));
  }
}

.title {
  color: #FFF;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 90px;
  /* 112.5% */
  margin-bottom: 90px;
}

.infoBanner {
  color: #FFF;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 90px;
  text-align: center;
}

.wrapper {
  padding-bottom: 100px;
}