.header {
  /*   background-color: #0f0f12; */
  padding: 50px 0;
  @media (max-width: 993px) {
    padding: 0;
    height: 117px;
    display: flex;
    margin-bottom: 20px;
  }
  @media (max-width: 500px) {
    height: 140px;
  }
  @media (max-width: 355px) {
    height: 128px;
  }
}

.headerWrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 565px) {
    gap: 4px;

  }
  @media (max-width: 500px) {
   padding: 10px;

  }
  @media (max-width: 993px) {
    //position: relative;
  }
}

.iconWrapper {
  display: flex;
  gap: 80px;
  align-items: center;

  @media (max-width: 565px) {
    gap: 20px;
  }
}

@media (max-width: 565px) {
  .headerWrapper {
    gap: 4px;
  }
}